p
{
    color: darkblue;
}

main
{
    height: 100vh;
    width: 100vw;
    background-image: url("../image/foret_papier_4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size : cover;
    
}

.main-window{
    margin:0;
    padding: 0;
    height: 100%; 
}

.around-main-container{
    margin:0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: end; 
}

/*menu*/

.menu{

    height: 100%;
    margin: 0;
    display: none;

}

.around-inner-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.inner-menu{
    width: 100%;
}


/*écran du jeu*/

.interface-box
{
    padding: 20px;
    height: 30%;
    margin-top: 0;
}

.centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

.colonne{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.colonne h5{
    margin:5px;
    display: block;
}

.colonne h5::before{
    content: "> ";
}

.colonne h5:hover{
    color: brown;
    text-decoration: underline;
}

.middle{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
}


h4,p
{
    margin:10px;
    padding: 5px;
}

.character-img
{
    object-fit: contain;
}

.main-container
{
    height: 70%;
    margin-bottom: 0;
}



.right-container,.left-container
{
    height: 100%;
    padding: 20px;
    opacity: 0;
}

.middle-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.dots{
    color: black;
    font-size: 1.6rem;
    animation-name: blink;
    animation-duration : 1s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
}


.content *{
    padding: 0 0 20px 0;
    margin: 0;
}

.content button{
    padding: 10px;
}



